* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}

body {
  font-family: sans-serif
}

ul[data-links] {
  margin-top: 10vw;
  display: flex;
  flex-direction: row wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
}

ul[data-links] > li {
  list-style: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 2px;
}

ul[data-links] > li:hover {
  border-bottom: 1px solid #ccc;
}
 

li[data-active] {
  background-color: cornflowerblue;
  color: white;


}


[data-content] {
  display: flex;
  justify-content: center;
}